div.k{
    padding: 20;
    position: absolute;
    top: 400;
    left: 20;
}
div.enc{
    padding: 20;
    position: absolute;
    top: 400;
    left: 320;
}
div.dec{
    padding: 20;
    position:absolute;
    top: 400;
    left: 740;
}
label{
    display: inline-block;
    color: bisque;
    padding: 20;
    font-size: 20;
    width: 100;
}
button{
    position: absolute;
    padding: 10;
    left: 40;
    width: 100;
    background-color: #333;
    border-style: ridge;
    color: aliceblue;
    border-color:forestgreen;
}
input{
    padding: 3;
    border-color: forestgreen;
    border-style: ridge;
    border-width: thin;
    
}
tr.invi td{
    border: 0;
}
td{
    width: 75;
}