div.k{
    padding: 20;
    position: absolute;
    left: 50;
    top: 150;
}
div.enc{
    padding: 20;
    position: absolute;
    left: 400;
    top: 150;
}
div.dec{
    padding: 20;
    position:absolute;
    left: 750;
    top: 150;
}
table{
    position: absolute;
    top:350;
    left: 100;
    padding: 20;
    border-collapse:collapse;
}
#tbe{
    position: absolute;
    top:350;
    left: 450;
    padding: 20;
    border-collapse:collapse;
}
#tbd{
    position: absolute;
    top:350;
    left: 800;
    padding: 20;
    border-collapse:collapse;
}
td{
    text-align: left;
    border-color:#333;
    font-size: 25;
    padding: 12;
}
h1{
    position: absolute;
    top: 375;
    left: 300;
    color: whitesmoke;
    font-weight: 500;
}