body{
    background-color:#333;
}
h3{
    color:whitesmoke;
    text-align:left;
    font-family:'Roboto Condensed';
    font-weight: 50;
    font-size: 30;
    border-bottom-style: ridge;
    border-bottom-width: thin;
    border-bottom-color: forestgreen;
    padding-left: 20;
    padding-top: 20;
    padding-bottom: 20;    
    width: 200;
}
h3:hover{
    cursor: pointer;
}
h2{
    color:whitesmoke;
    text-align:left;
    font-family:sans-serif;
    font-weight: 50;
    font-size: 25;
    padding-left: 20;
    padding-top: 20;
    padding-bottom: 15;    
    width: 500;
}
ul{
    font-size: 20;
    font-family: sans-serif;
    color:burlywood;
    padding: 30;
    color:white;
}
li{
    padding-bottom: 5;
    color: aquamarine;
}
a{
    color: antiquewhite;
    text-decoration: none;
}
table{
    padding: 25;
    border-collapse: collapse;
}
td,th{
    text-align: left;
    color:red;
    font-size: 25;
    border: 1px solid whitesmoke;
    padding: 12;
}
#enc{
    padding: 20;
    position: absolute;
    left: 20;
}
#dec{
    padding: 20;
    position:absolute;
    left: 400;
}
label{
    display: inline-block;
    color: bisque;
    padding: 20;
    font-size: 20;
    width: 100;
}
form{
    width: 500;
}
button{
    position: absolute;
    padding: 10;
    left: 40;
    width: 100;
    background-color: #333;
    border-style: ridge;
    color: aliceblue;
    border-color:forestgreen;
}
input{
    padding: 3;
    border-color: forestgreen;
    border-style: ridge;
    border-width: thin;
}
#ef{
    position: absolute;
    top: 300;
    left: 800;
    width: 500;
}
#df{
    position: absolute;
    top: 300;
    left: 800;
    width: 500;
}
div.p{
    display: inline-block;
    color: white;
    padding: 20;
    font-size: 20;
    width: 100;
}
#e{
    font-size: 20;
}
.ed{
    width: 75;
}