table{
    border: 1px solid whitesmoke;
    border-collapse: collapse;
}
td{
    text-align: left;
    color:forestgreen;
    font-size: 25;
    border: 1px solid whitesmoke;
    padding: 15;
}
div.p{
    display: inline-block;
    color: white;
    padding: 20;
    font-size: 20;
    width: 100;
}
div.k{
    padding: 20;
    position: absolute;
    left: 250;
    top: 300;
}
div.enc{
    padding: 20;
    position: absolute;
    left: 600;
    top: 300;
}
div.dec{
    padding: 20;
    position:absolute;
    left: 950;
    top: 300;
}
#tb{
    position: absolute;
    top: 300;
}
tr.invi td, #tb1{
    border: 0;
}
tr.w td{
    height: 500;
}