#block{
    border: 1px solid white;
    border-radius: 15px;
    width: 800;
}
#l{
    position: relative;
    border: 2px solid green;
    padding: 15;
    text-align: center;
    left: 10;
    width: 50;
}
#ed{
    border: 4px solid green;
    padding: 15;
    text-align: center;
}
#sndc,#snda,#rcvc,#rcva{
    border: 2px solid whitesmoke;
    border-radius: 10px;
    text-align: center;
    position: relative;
}
#sndc,#snda{
    left: 50;
}
#rcvc,#rcva{
    left: 300;
}
#ar{
    font-size: 50;
    text-align: center;
    width: 50;
}
#arr{
    font-size: 75;
    text-align: center;
    width: 75;
}
#c,#cr,#ca,#cra{
    position: relative;
    text-align: center;
    border: 2px solid green;
}
#c{
    width: 300;
    left: 10;
    border-radius: 25px;
    border: 1px solid coral;
}
#cr{
    top: 50;
    width: 120;
    left: 100;    
}
#s{
    position: relative;
    border: 2px green;
    width: 30;
    left: 10;
}
#ca{
    left: 150;
    border-radius: 25px;
    width: 300;
    border: 1px solid coral;
}
#cra{
    width: 150;
    left: 75;
    top: 50;
}
#sa{
    position: relative;
    border: 2px green;
    width: 50;
    left: 350;
}
label #l{
    position: relative;
    top: 400;
    width: 120;
    height: 50;
}
#d{
    font-size: 50;
    position: relative;
    left: 175;
}
#dr{
    font-size: 50;
    position: relative;
    left: 300;
}
#f,#f1,#f2{
    position: relative;
    left: 100;
    top: -25;
}
#f1{
    left: 150;
    width: 200;
}
#f2{
    left: 175;
    width: 200;
}
#pc{
    
}
select{
    padding: 10;
    width: 150;
    background-color: #333;
    border-style: ridge;
    color: aliceblue;
    border-color:forestgreen;
}