input{
    padding: 3;
    border-color: forestgreen;
    border-style: ridge;
    border-width: thin;
    
}
div.enc{
    padding: 20;
    position: absolute;
    left: 600;
    top: 250;
}
div.dec{
    padding: 20;
    position:absolute;
    left: 950;
    top: 250;
}
table{
    padding: 10;
    border: 1px solid whitesmoke;
    border-collapse: collapse;
}
td{
    text-align: left;
    color:forestgreen;
    font-size: 10;
    border: 1px solid whitesmoke;
    padding: 5;
}
